

body { 
  font-family: Arial; 
  padding: 10px; 
  width: 400px; 
  border-radius: 15px;
}
textarea { 
  width: 96%; 
  height: 150px; 
  margin-top: 5px;
  margin-left: 10px; 
  border-radius: 5px;
}
button { 
  margin-top: 10px; 
  width: 100%; 
  flex: 1;
  border-radius: 10px;
}

#copyStatus {
  transition: opacity 0.3s ease;
  opacity: 1;
  margin-top: 10px; 
  color: green; 
  display: none;
}
#copyStatus.hidden {
  opacity: 0;
}
#cleanAndClear {
  display: flex; 
  gap: 10px;
  margin-left: 10px;
  /*margin-top: 10px; */
}
#copyBtn {
  margin-left: 10px;
  width: 97%;
}

